<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link th:href="@{/css/materialize.css}" href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link th:href="@{/css/style.css}"  href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><img src="/images/IPL.png" style="height:65px;width:142px;" alt=""></a>
      <ul class="right hide-on-med-and-down">
        <li><button data-target="match-add-form" id="match-add" class="btn-large modal-trigger waves-effect waves-light orange">Add Match</button></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><button data-target="match-add-form" id="match-add" class="btn-large modal-trigger waves-effect waves-light orange">Add Match</button></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Track your bets over here</h5>
      </div>
      <div class="row center">
        <!-- <button data-target="match-add-form" id="match-add" class="btn-large modal-trigger waves-effect waves-light orange">Add Match</button> -->
      </div>
    </div>
  </div>

    <!-- Match Add Form -->
    <div id="match-add-form" class="modal">
      <div class="modal-content row center">
        <h4>Match Add</h4>
        <!-- <a href="#!" class="modal-action modal-close waves-effect waves-green btn">Agree</a>
        <p>Enter details for the match</p> -->
        <form method="post" id="start-match" name="start-match" onsubmit="match_add()" >
            <div class="form-group input-field col s12 m6">
              <select name="team1" class="icons" required>
                <option value="" disabled selected>Choose Team 1</option>
                <option value="CSK" data-icon="/images/CSK.png">CSK</option>
                <option value="DD" data-icon="/images/DD.jpeg">DD</option>
                <option value="KKR" data-icon="/images/KKR.png">KKR</option>
                <option value="KXIP" data-icon="/images/KXIP.png">KXIP</option>
                <option value="MI" data-icon="/images/MI.jpg">MI</option>
                <option value="RCB" data-icon="/images/RCB.png">RCB</option>
                <option value="RR" data-icon="/images/RR.png">RR</option>
                <option value="SRH" data-icon="/images/SRH.jpeg">SRH</option>
              </select>
              <label>Team 1</label>
            </div>
            <div class="form-group input-field col s12 m6">
              <select name="team2" class="icons" required>
                <option value="" disabled selected>Choose Team 2</option>
                <option value="CSK" data-icon="/images/CSK.png">CSK</option>
                <option value="DD" data-icon="/images/DD.jpeg">DD</option>
                <option value="KKR" data-icon="/images/KKR.png">KKR</option>
                <option value="KXIP" data-icon="/images/KXIP.png">KXIP</option>
                <option value="MI" data-icon="/images/MI.jpg">MI</option>
                <option value="RCB" data-icon="/images/RCB.png">RCB</option>
                <option value="RR" data-icon="/images/RR.png">RR</option>
                <option value="SRH" data-icon="/images/SRH.jpeg">SRH</option>
              </select>
              <label>Team 2</label>
            </div>
            <div class="form-group col s6 m6 center" c>
              <div class="col m6">
                <label for="ratio1">Team 1 Ratio</label>
                <input name="ratio1" type="text" class="form-control" id="ratio1" placeholder="eg. 2K10" required>
              </div>
            </div>
            <div class="form-group center col s6 m6">
              <div class="col m6">
                <label for="ratio2">Team 2 Ratio</label>
                <input name="ratio2" type="text" class="form-control" id="ratio2" placeholder="eg. 10L2" required>
              </div>
            </div>
            <div class="form-group">
              <label for="name">Name:</label>
              <input name="name" id="name" type="text" required>
            </div>
            <div class="form-group">
              <label for="balancePool">Balance:</label>
              <input name="balancePool" id="balancePool" type="number" required min="0">
            </div>

            <div class="form-group">
              <label for="date">Match Date:</label>
              <input name="date" id="date" min="2000-01-02" type="date" required>
            </div>
            <div class="form-group">
              <input type="submit" class="waves-effect waves-green btn">
            </div>
          </div>
        </form>
      </div>

    </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row center">
        <div class="card">
          <div class="card-content col l6 m6 s12">
            <button class="waves-effect waves-teal btn-flat" onclick="get_active_matches()">ACTIVE MATCHES <i class="material-icons right">send</i></button>
          </div>
          <div class="card-content col l6 m6 s12 ">
           <!-- <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Drop Me!</a> -->
            <a class="dropdown-trigger waves-effect waves-teal btn-flat"
              data-target="previous-matches-dropdown" >Previous / Stopped Matches<i class="material-icons">arrow_drop_down</i></a>
          </div>

          <!-- Container for previous matches -->
          <ul id='previous-matches-dropdown' class='dropdown-content'>
          </ul>

          <div class="divider"></div>
          <!-- Container for match name  -->
          <div class="card-tabs " >
            <ul class="tabs tabs-fixed-width" id="match_name">
            </ul>
          </div>

          <!-- Container for match content  -->
          <div class="card-content lighten-4" id="match_content">

          </div>



        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script th:src=@{js/materialize.js} src="/js/materialize.js"></script>
  <script th:src=@{js/init.js} src="/js/init.js"></script>
  <script th:src=@{js/controllers.js} src="/js/controllers.js"></script>
  <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>


  </body>
</html>
